@import url(../css/header.css);
@import url(../css/fonts.css);
@import url(../css/typography.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 97.5%;
    width: 100%;
    margin: 0 auto 44px;
    background-color: #EAEBED;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.info-card {
    width: 22%;
    height: 44%;
    background-color: #FEFEFE;
    border-radius: 30px;
    margin: 1.4%;
    text-align: center;
    padding-top: 50px;
    transition: 0.5s;
    border: 1px solid #FEFEFE;
    position: relative;
}
.info-card:hover {
    display: block;
    background-color: #2785F7;
    border: 1px solid #2785F7;
    cursor: pointer;
    text-decoration-color: #EAEBED;
}
.info-card::after {
    content: url(../images/trash.svg);
    position: absolute;
    width: 0;
    overflow: hidden;
    height: 50px;
    left: 90%;
    top: -25px;
    font-size: 30px;
    transition: .5s;
    display: flex;
}
.info-card:hover::after {
    width: 50px;
    background-color: white;
    border-radius: 10px;
}
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
