.text-reg {
    font-size: 26px;
    font-family: 'Bahij';
    color: #B1B1B1;
    line-height: 160%;
}
.text-head {
    font-size: 32px;
    font-family: 'ChronicaPro';
    color: #000;
    line-height: 160%;
}